body  {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

#menu_items {
    display: grid;
    grid-template-columns: repeat(3, 150px) 2fr;
    grid-column-gap: 10px;
    padding: 10px;
    font-size: 30px;
}

.nav_menu_title{
    display: flex;
/*     border: 2px red solid; */
    align-content: center;
    justify-content: center;
    color: rgb(255, 255, 239);
}



#contact{
    display: flex;
    justify-content: flex-end;
}

.zone {
/*     padding:30px 50px;
    margin:40px 60px; */
    cursor:pointer;
    display:inline-block;
    color:#FFF;
    font-size:2em;
    border-radius:4px;
    border:1px solid #bbb;
    transition: all 0.3s linear;
}

.zone:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
}

/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
}


.cover{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 4%;
}

img.grid_image{
    /*border: 10px darkblue solid;*/
    height: 100px;
    width: 100px;
    padding: 30%;
    margin: 5%;
    justify-self: center;
    align-self: center;
    background-color: rgba(0, 0, 0, 0.562);
    border-radius: 5px
}

img.cover{
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 300px;
}

.container{
    display: grid;
    padding: 1%;
    grid-gap: 5px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, 1fr);
}

.footer{
    height: 50px;
    text-align: center;
    background-color: blueviolet;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}